---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

interface Props {
  name: string
  description: string
  keywords: string[]
  repository: string
  cover: string
}

const { name, description, keywords, repository, cover } = Astro.props
---

<div
  class="flex flex-col items-center gap-y-4 transition ease-in-out hover:scale-105 duration-300"
>
  <Image
    src={cover}
    alt="Cover Image"
    width="750"
    height="500"
    class="border border-neutral rounded-xl drop-shadow-lg lg:w-5/6"
  />
  <div class="flex flex-col gap-y-4 lg:w-5/6">
    <h1 class="text-3xl font-bold">{name}</h1>
    <p>
      {description}
    </p>
    <div class="flex flex-wrap gap-2">
      {keywords.map((keyword) => <span class="badge">{keyword}</span>)}
    </div>
    <a
      href={repository}
      target="_blank"
      rel="noopener noreferrer"
      class="link link-hover text-primary self-start flex gap-2"
    >
      <Icon name="mdi:github" class="w-6 h-6" />
      {repository.replace('https://github.com/', '')}
    </a>
  </div>
</div>
